/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-link {
  display: block;
  width: 360px;
  height: 300px;
  margin: 10px;
}

.gallery-image {
  width: 100%;
  height: auto;
}

/* form */

  .feedback-form {
    width: 408px;
    height: 296px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .feedback-form label {
    display: block;
    margin-top: 10px;
  }

  .feedback-form input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .feedback-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
  }

  .feedback-form button[type="submit"] {
    width: 95px;
    height: 40px;
    padding: 10px;
    background-color: #4E75FF;
;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }